<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "http://www.smartmobilestudio.com/ExampleWidget"
        version     = "2.0 Beta"
        height      = "300"
        width       = "300"
        viewmodes   = "windowed">
 
  <name short="Example Widget">
    The example Widget!
  </name>

  <feature name="Server">
    <param name="Port" value="8090"/>
  </feature>

  <description>
    A sample widget to demonstrate some of the possibilities.
  </description>

  <author href  = "http://www.smartmobilestudio.com/"
          email = "support@smartmobilestudio.com">Smart Mobile Studio</author>

  <icon src="SmartMS_Icon.ico"/>
  <content src="index.html"/>
</widget>